*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height:1.6;
    overflow-x: hidden;
    font-size: 1.15em;
}

img {
    max-width: 100%;
    display: block;
}
h1,
h2,
h3,
p {
    margin: 0;
}

ol,
ul,
li,
a {
    list-style: none;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 65em;
}

.container-flex {
    width: 100%;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #000;
    font-size: 1.125rem;
    padding: .75em 1.25em;
    font-weight: 600;
    border: none;
    opacity: .5;
    transition: 200ms;
}

.btn:hover,
.btn:focus {
    opacity: 1;
}

/* mobile styling */
.desktop {
    display: none;
}
main {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
}
main .container {
    width: 90%;
    box-shadow: 0px -14px 15px 0px rgba(0,0,0,0.075);
    position: relative;
    top: -100px;
    background: #fff;
    padding: 10px;
}
main .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

main .grid p {
    color: #55565A;
    font-weight: 600;
}

h1 {
    font-size: 1.5em;
    line-height: 1.25;
    padding: 1em 0;
}

h2 {
    color: #55565A;
    padding: 1em 0;
}

.container-flex {
    margin-top: -100px;
    background: #fff;
    padding: 1em 10px 1em;
}

input[type=text] {
    display: block;
    width: 100%;
    padding: 5px;
}

#message-input {
    padding: 10px 10px 80px;
    font-size: 1.1em;
}

::-webkit-input-placeholder {
    white-space: pre-line;
}
form {
    margin-bottom: 2em;
}
form .grid {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: baseline;
    grid-gap: 5px;
    padding: 15px 0;
}

/* media queries */

@media screen and (min-width: 600px){
    body {
        font-size: 1.3em;
    }

    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }

    .desktop-banner {
        background: url('https://via.placeholder.com/2000x600.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center center;
        height: 600px;
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        display: block;
    }
    .d-container {
        width: 95%;
        margin: 0 auto;
        max-width: 65em;
    }

    main {
        background: none;
    }
    main .container {
        width: 600px;
        position: absolute;
        top: 10%;
        padding: 20px;
        box-shadow: 0px 15px 15px 10px rgba(0,0,0,0.075);
    }

    main .grid {
        justify-items: baseline;
        grid-template-columns: 1fr;
    }

    .desktop-divPH {
        padding: 1.5em 2em;
        position: absolute;
        top: 0;
        right: 35px;
        background: #fff;
        box-shadow: 8px 0px 5px 10px rgba(0,0,0,0.075);
    }
    

    .container-flex {
        margin-top: 600px;
        padding: 1em 10px 1em;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .d-grid {
        display: grid;
        grid-column-gap: 20px;
        align-items: center;
    }

    .desktop-sec {
        grid-area: 1 / 2 / span 2;
    }

    .d-grid2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-column-gap: 50px;
    }

    #firstname {
        grid-area: 2 / 1 / span 1;
    }

    form .grid {
        grid-template-columns: 3% 97%;
    }
}

@media screen and (min-width: 1200px){
    form .grid {
        padding: 20px 0;
    }
}